<div class="row">
    <div class="col-4 ">
        <mat-form-field class="search-box">
            <input matInput class="form-control"    placeholder="Search">
        </mat-form-field>
        <div class="user" (click)="userSelected(user)" *ngFor="let user of dummyUsers">
            <img [src]="user.imageURL" alt="{{ user.name }} Image" />
            <span>{{ user.name }}</span>
          </div>
          
    </div>
        <div class="col-6 ">
            <app-chat-box [user]="selectedUser"></app-chat-box>
        </div>
</div>

